<article>	
  <div class="box-maincheckout">
    <div class="container">
      <div class="box-checkout">
        <div class="box-checkoutinform">
          <h4 class="bposi"><span class="step">Step 4</span> <span class="text-informationSpacing">Account and Billing Details</span></h4>
          <div class="box-mainnew">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-new">
                  <div class="box-contenT">
                    <b> Order is successfully placed.</b>
                    <!--<a href="#" title="Continue" class="btn btn-continue">Continue</a>-->
                    <br/><br/>  
                    <b>Thanks for shopping.</b>

                    <br/><br/>  
                    <div class="row">
                      <div class="col-sm-6">
                        <%= link_to "Continue Shopping", homes_path, :class => "btn" %>
                      </div>

                      <% if !current_user %>
                        <% if !@is_calcel %>
                      <div class="col-sm-6">
                        <%= link_to "Cancel My Order", cancel_order_order_path(@order.id), :method => "PUT", :class => "btn" %>
                        </div>
                      <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>	
        </div>
      </div>
    </div>	
  </article>