<article>	
  <div class="box-maincheckout">
    <div class="container">
      <div class="box-checkout">
        <div class="box-checkoutinform">
          <h4 class="bposi"><span class="step">Step 2</span> <span class="text-informationSpacing">Billing Information</span></h4>
          <div class="box-mainnew">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box-new">
                  <div class="box-contenT">
                    <%= render :partial => "form" %>	
                    <!--<a href="#" title="Continue" class="btn btn-continue">Continue</a>-->
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>	
      </div>
    </div>
  </div>	
</article>