
development: &defaults
  adapter: mysql2
  encoding: utf8
  database: furnitureapp_development
  username: root
  password: root
  pool: 10
  reconnect: true

test:
  <<: *defaults
  database: furniture_test

production:
  <<: *defaults
  database: furnitureapp_production