<div class="box-featured box-featuredItems">
      <h1><span>Featured Items</span></h1>
      <div id="myCarousel-2" class="carousel slide clearfix" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature1.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Bedsheet <span>(Flower print)</span></h5>							
                    <h2>$100<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature2.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Furniture <span>(Wooden Chair)</span></h5>							
                    <h2>$360<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature3.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Rugs <span>(Ivory Brown)</span></h5>							
                    <h2>$120<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature1.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Bedsheet <span>(Flower print)</span></h5>							
                    <h2>$100<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature2.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Furniture <span>(Wooden Chair)</span></h5>							
                    <h2>$360<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature3.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Rugs <span>(Ivory Brown)</span></h5>							
                    <h2>$120<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature1.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Bedsheet <span>(Flower print)</span></h5>							
                    <h2>$100<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature2.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Furniture <span>(Wooden Chair)</span></h5>							
                    <h2>$360<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature3.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Rugs <span>(Ivory Brown)</span></h5>							
                    <h2>$120<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
        <a class="right carousel-control" href="#myCarousel-2" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>	
    </div>