<div id="slider">
    <div id="myCarouselss" class="carousel slide clearfix" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="box-homeimg"> <img src="/assets/images/banner-img.png" alt="First slide" title=""> </div>
          <div class="container">
            <div class="box-homecontent clearfix">
              <div class="content-banner">
                <h1>Launching Soon</h1>
              </div>
              <div class="content-banner text-personalise"> on 1st of March </div>
             <p style><a class="btn btn-newarrivals" href="#" title="Stay Tuned">Stay Tuned</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <div class="box-homeimg"> <img src="/assets/images/banner-img.png" alt="Second slide" title=""> </div>
          <div class="container">
            <div class="box-homecontent clearfix">
              <div class="content-banner">
                <h1>Home Accessories</h1>
              </div>
              <div class="content-banner text-personalise"> personalise your living space </div>
              <p><a class="btn btn-newarrivals" href="#" title="New Arrivals">New Arrivals</a></p>
            </div>
          </div>
        </div> -->
        <!-- <div class="item">
          <div class="box-homeimg"> <img src="/assets/images/banner-img.png" alt="Third slide" title=""> </div>
          <div class="container">
            <div class="box-homecontent clearfix">
              <div class="content-banner">
                <h1>Home Accessories</h1>
              </div>
              <div class="content-banner text-personalise"> personalise your living space </div>
              <p><a class="btn btn-newarrivals" href="#" title="New Arrivals">New Arrivals</a></p>
            </div>
          </div>
        </div> -->
      </div> 
      </div>
  </div>

<article>	
  <div class="box-whether">
    <div class="container">
      <div class="fright box-circel">
        <div class="box-divider"></div>
        <div class="circle"> <a href="#" title="Go">GO!</a> </div>
      </div>
      <p>Whether you want to indulge in a makeover or add a few new touches to your bed, we've got up to <span> 30% off</span> statement throws, luxurious bed linen and cushion. covers.</p>
    </div>
  </div>
  <div class="container">
    <div class="box-collection">
      <h1><span>Collections</span></h1>
      <div class="row-collSec">
        <div class="row">
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="box-twenty">
              <h3> 20 </h3>
              <span><em>%</em>OFF</span>
              <p>100's of Furniture Products</p>
              <p class="text-offer">Offers end midnight Wednesday</p>
              <a href="#" title="Shop Now" class="btn btn-shop">Shop Now</a> </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">					
            <div class="box-upto">
              <div class="box-fifty">
                <h2>Upto <strong>50%</strong> off selected offers</h2>
                <a href="#" title="Shop Now" class="btn-shop">Shop Now</a> </div>
              <div class="box-miss">
                <p>Miss it,miss out!</p>
                <p>Exclusive offers for a limited time only</p>
              </div>
            </div>						
            <div class="box-bath"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
              <div class="box-thirty">
                <h6>30<span><em>%</em> off</span></h6>
                <p>selected</p>
              </div>
              <div class="box-miss">
                <p>Bath accessories offers</p>
                <p>Loreum ispum is a dummy text</p>
              </div>
            </div>						
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">					
            <div class="box-mainbed"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection1.png"/></a>
              <div class="box-thirty box-uptothirty">
                <p class="bottom-spacE">up to</p>
                <h6>30<span><em>%</em> off</span></h6>
              </div>
              <div class="box-miss">
                <p>Bed linen offers</p>
                <p>Loreum ispum is a dummy text</p>
              </div>
            </div>
            <div class="box-bath box-bath640"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
              <div class="box-thirty">
                <h6>30<span><em>%</em> off</span></h6>
                <p>selected</p>
              </div>
              <div class="box-miss">
                <p>Bath accessories offers</p>
                <p>Loreum ispum is a dummy text</p>
              </div>
            </div>					
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="box-mainbed box-collectionMiddil"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection2.png"/></a>
              <div class="box-thirty box-uptothirty">
                <p class="bottom-spacE">up to</p>
                <h6>20<span><em>%</em> off</span></h6>
              </div>
              <div class="box-miss">
                <p>Home Decor</p>
                <p>Loreum ispum is a dummy text</p>
              </div>
            </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="box-mainbed"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-collection3.png"/></a>
              <div class="box-thirty box-uptothirty">
                <p class="bottom-spacE">up to</p>
                <h6>10<span><em>%</em> off</span></h6>
              </div>
              <div class="box-miss">
                <p>Show piece offers</p>
                <p>Exclusive offers for a limited time only</p>
              </div>
            </div>
            <div class="box-bath"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-bath.png"/></a>
              <div class="box-thirty">
                <h6>30<span><em>%</em> off</span></h6>
                <p>selected</p>
              </div>
              <div class="box-miss">
                <p>Bath accessories offers</p>
                <p>Loreum ispum is a dummy text</p>
              </div>
            </div>					
          </div>
        </div>
      </div>
    </div>
    <div class="box-featured box-featuredItems">
      <h1><span>Featured Items</span></h1>
      <div id="myCarousel-2" class="carousel slide clearfix" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature1.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Bedsheet <span>(Flower print)</span></h5>							
                    <h2>Rs.100<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature2.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Furniture <span>(Wooden Chair)</span></h5>							
                    <h2>Rs.360<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature3.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Rugs <span>(Ivory Brown)</span></h5>							
                    <h2>Rs.120<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature1.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Bedsheet <span>(Flower print)</span></h5>							
                    <h2>Rs.100<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature2.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Furniture <span>(Wooden Chair)</span></h5>							
                    <h2>Rs.360<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature3.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Rugs <span>(Ivory Brown)</span></h5>							
                    <h2>Rs.120<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature1.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Bedsheet <span>(Flower print)</span></h5>							
                    <h2>Rs.100<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature2.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Furniture <span>(Wooden Chair)</span></h5>							
                    <h2>Rs.360<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-feature3.png"/></a> </div>
                  <div class="box-bedsheet clearfix">
                    <h5>Rugs <span>(Ivory Brown)</span></h5>							
                    <h2>Rs.120<span>.00</span></h2>
                    <a href="#" title="Shop Now" class="btn btn-shopnow">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel-2" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
        <a class="right carousel-control" href="#myCarousel-2" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>	
    </div>
    <div class="box-featured">
      <h1><span>Inspiration  &amp; Advices</span></h1>
      <div id="myCarousel-3" class="carousel slide clearfix" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="box-bedsheeT">
                  <div class="box-bedsheetimg"> <a href="#" title=""><img alt="" title="" src="/assets/images/img-inspration.png"/></a> </div>
                  <div class="box-bedroom clearfix">
                    <h6>Bedroom Updates</h6>
                    <p>Loreum ispum is a dummy text of the printing and typesetting... </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel-3" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> 
        <a class="right carousel-control" href="#myCarousel-3" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> 	
      </div>
    </div>
    <div class="box-featured">
      <h1><span>Buying Guides</span></h1>
      <div class="box-bedlinen">
        <div class="row">				
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="buying-leftColumn">
              <h6>Bedlinen Buying Guide</h6>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
              <a href="#" title="Shop Best Linen" class="shop">Shop Best Linen</a> </div>
          </div>				
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 img-buying">
            <img src="/assets/images/img-buying.png" alt="" title=""/>					
          </div>
        </div>
      </div>
    </div>
    <!--<div class="box-featured">
            <h1><span>Shop By Room</span></h1>
            <div class="box-shop">
                    <div id="myCarousel1" class="carousel slide clearfix" data-ride="carousel">
                            <ol class="carousel-indicators">
                                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                                    <li data-target="#myCarousel1" data-slide-to="2"></li>
                            </ol>
                            <a class="left carousel-control" href="#myCarousel1" data-slide="prev"></a> <a class="right carousel-control" href="#myCarousel1" data-slide="next"></a> </div>
            </div>
    </div>-->				
    <div class="box-featured box-features">
      <h1><span>Amazing Features</span></h1>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <img src="/assets/images/img-ven.png" title="" alt=""/>
          <h5>Free Delivery Over $50.00</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <img src="/assets/images/img-gift.png" title="" alt=""/>
          <h5>15% Student Discount</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> <img src="/assets/images/img-right.png" title="" alt=""/>
          <h5>Returns Free</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever </p>
        </div>
      </div>
    </div>
  </div>
</article>