
<%= form_tag homes_path, :method => 'get',:id => "products_search" do %>

   
  

  <p class="search">
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil,:class => "btn btn" %>
  </p>

<% end %>


<script type="text/javascript">
  
  // Search form.
  $('#products_search input').keyup(function() {
    $.get($("#products_search").attr("action"), $("#products_search").serialize(), null, 'script');
    return false;
  });




</script>

<div><%= render :partial => 'index' %></div>