
          	<div id="slider">
          		<div id="myCarddouselss" class="caroddusel slide clearfix" data-ride="carddousel">
          			<div class="carousel-innefr">
          			<div class="bxslider">
          				<% @banner_images = Banner.all %>
          				<% for image in @banner_images %>
          				<div class="item active">
          					<img title="" src="<%= image.image.url(:original) %>" width='1286' height="537"/>
          					<div class="container">
          						<div class="box-homecontent clearfix">
          							<div class="content-banner">
          								<h1><%= image.image_description.html_safe %></h1>
          							</div>
          							<div class="content-banner text-personalise"> <%= image.smalldescription.try(:html_safe)  %></div>
          							<p style><a class="btn btn-newarrivals" href="#" title="Stay Tuned">Stay Tuned</a></p>
          						</div>
          					</div>
          					<!--  </div> -->
          				</div>
          				<% end %>
</div>
</div>
</div>
</div>

        <script type="text/javascript" charset="utf-8">
  $(function(){
  $('.bxslider').bxSlider({
            auto: true,
            // slideWidth: 308,
            infiniteLoop: true,
            speed: 4000,
            pager: false,
            autoHover: true,
            minSlides: 1,
            maxSlides: 12,
            slideMargin: 20,
            responsive: true,
            adaptiveHeight: true
          });
  });
</script>

<style>
  .bx-prev, .bx-next {
    display: none;
  }
</style>