
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 
 *= require bxslider


 */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 166px;
  border: 2px solid red;
  padding: 7px 15px 5px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


div#da-header #da-header-top #da-logo-img img {
  background-color: white;
  max-height: 55px;
  max-width: 230px;
  padding: 0 10px 1px;
}

/*circular offer percentage*/
.circlP {
  background-color: #0eabdf;
  border: 1px solid #e3e3e3;
  border-radius: 40px;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  margin: 0 84px 0 auto;
  text-align: center;
  width: 50px;
}