/*table {
  font-family: "Helvetica Neue", Helvetica, sans-serif
}
thead {
  background: SteelBlue;
  color: white;
}
th,
td {
  padding: 5px 10px;
}
tbody tr:nth-child(even) {
  background: WhiteSmoke;
}
tfoot {
  background: SeaGreen;
  color: white;
  }
*/

