.row , 	.col-sm-4, .form-group input{height: 30px; }
 .search input[type="submit"]{position: absolute;margin-left: 10px;  background-image: -webkit-linear-gradient(#238adb,#adb);background-image: -moz-linear-gradient(#238adb,#adb);  }
 .email input {position: relative;}
 .search input[type="text"]{height:  30px;}
 .quantity input{width: 52px;}