.row , 	.col-sm-4, .form-group input{height: 30px; }
 .search input[type="submit"]{position: absolute;margin-left: 10px;  background-image: -webkit-linear-gradient(#238adb,#adb);background-image: -moz-linear-gradient(#238adb,#adb);  }
 .email input {position: relative;}
 .search input[type="text"]{height:  30px;}
select {width: auto;}
body {
margin-top: 60px;
}
.input-group-lg > .form-control{font-size: 15px;}	
@media only screen and (min-width: 768px)
{
	.col-sm-1 {
    width: 30.3%;
}
}

@media only scree and (min-width: 1301px)
{
	
}

.input-group-addon, .input-group-btn {
    width: auto;
  
}