<!-- Content Area -->
<div id="da-content-area">
  
              <ul class="da-circular-stat-wrap">
                <li class="da-circular-stat {fillColor: '#e15656', value: 500, maxValue: 511, label: 'Dandelions Planted'}"></li>
                <li class="da-circular-stat {fillColor: '#a6d037', value: 55, maxValue: 98, label: 'Seeds Collected'}"></li>
                <li class="da-circular-stat {fillColor: '#ea799b', percent: true, value: 200, maxValue: 241, label: 'iPads Cloned'}"></li>
                <li class="da-circular-stat {fillColor: '#fab241', value: 124, maxValue: 523, label: 'Androids Bought'}"></li>
                <li class="da-circular-stat {fillColor: '#61a5e4', percent: true, value: 42, maxValue: 100, label: 'Funds Collected'}"></li>
              </ul>

              <div class="grid_4">
                <div class="da-panel-widget">
                  <h1>Summary List</h1>
                  <ul class="da-summary-stat">
                    <li>
                      <a href="#">
                        <span class="da-summary-icon" style="background-color:#e15656;">
                          <img src="/assets/admin/images/icons/white/32/truck.png" alt="" />
                        </span>
                        <span class="da-summary-text">
                          <span class="value up">211</span>
                          <span class="label">Packages Distributed</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="da-summary-icon" style="background-color:#a6d037;">
                          <img src="/assets/admin/images/icons/white/32/sport_shirt.png" alt="" />
                        </span>
                        <span class="da-summary-text">
                          <span class="value">512</span>
                          <span class="label">T-Shirts Sold</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="da-summary-icon" style="background-color:#ea799b;">
                          <img src="/assets/admin/images/icons/white/32/abacus.png" alt="" />
                        </span>
                        <span class="da-summary-text">
                          <span class="value up">286</span>                                        
                          <span class="label">Transactions Completed</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="da-summary-icon" style="background-color:#fab241;">
                          <img src="/assets/admin/images/icons/white/32/airplane.png" alt="" />
                        </span>
                        <span class="da-summary-text">
                          <span class="value down">61</span>
                          <span class="label">Planes Flown</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="da-summary-icon" style="background-color:#61a5e4;">
                          <img src="/assets/admin/images/icons/white/32/shopping_basket_2.png" alt="" />
                        </span>
                        <span class="da-summary-text">
                          <span class="value">42</span>
                          <span class="label">Shops Visited</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="da-summary-icon" style="background-color:#656565;">
                          <img src="/assets/admin/images/icons/white/32/users_2.png" alt="" />
                        </span>
                        <span class="da-summary-text">
                          <span class="value">266</span>
                          <span class="label">Customers Satisfied</span>
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>