/*css for menu dropdowns*/
/*
.main-navigation {
    display: inline-block;
    position: relative;
    cursor: default;
     z-index: 100;
  }

  .main-navigation > li {
    display: block;
    float: left;
  }

  .main-navigation > li > a {
    color: #fcfcfc;
    display: block;
    height: 43px;
    line-height: 45px;
    padding: 0 20px;
    position: relative;
    transition: all 0.3s ease 0s;
    z-index: 999999;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
  }

  .main-navigation > .menu-list:hover > div {
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
    border:1px solid #ccc;
    box-shadow: 2px 2px 2px 2px #ccc;
    z-index:999999;
    transition: all .4s ease-in-out ;
  }
  .main-navigation > .menu-list > div{visibility: hidden; }
  .main-navigation > .menu-list  > div {
    position: absolute;
    display: block;
    width: 100%;

    left: 0;
    background-color: #fbfbfb;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  .main-navigation .nav-column {
    float: left;
    width: 33%;
    padding: 2.5%;
  }
  .main-navigation .nav-column li{list-style-type: none;}

  .main-navigation .nav-column h3 {
    margin: 5px 0 10px 0;
    line-height: 18px;

    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #372f2b;
    text-transform: uppercase;
  }
  .main-navigation .nav-column li a {
    display: block;
    line-height: 26px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 11px;
    color: #666;
  }

  .main-navigation .nav-column li a.subcat {
    display: block;
    line-height: 26px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3D4040;
  }

  .main-navigation .nav-column li a:hover { color: #F5F5F5; }
  .main-navigation .nav-column li a.subcat:hover { color: #F5FAFA; background-color: #67DBAD; }


  @media screen and (min-width:320px ) and (max-width:768px){
    .main-navigation > .menu-list:hover > div {overflow:scroll;}

    .main-navigation .nav-column { 
      width: 100%;
    }
  }

*/






.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.fonts{
    display: block;   
    text-transform: uppercase;    
    line-height: 45px;
  }


ul.navbar-nav  li a{
  padding: 0 9px;
}

.navbar-nav > li > a{
  color: #000;
  display: block;
  height: 43px;
  line-height: 45px;
  padding: 0 20px;
  position: relative;
  transition: all 0.3s ease 0s;
  z-index: 999999;
}

ul.navbar-nav > li a:hover, ul.navbar-nav > li a.active { color: #FFF; border-radius: 3px; background-color: #0c0c0c; }
