<ul class="main-navigation">
  <% Category.where("name is not null and category_show = #{true}").each do |cat| %>
  <% @sub_categories = cat.sub_categories.limit(3) %>
  
    <li class="menu-list">
      <%= link_to cat.name, home_path(cat), :title => "#{cat.name}" %>

      <div style="height:380px;">
      <% @sub_categories.each do |cat1| %>                
        <div class="nav-column" >
        <ul>
          <li style="font-weight: bold;"><%= cat1.name %></li>
          <% cat1.products.limit(10).each do |product| %>
          <li>
            <li ><%= link_to product.name.capitalize, single_product_home_path(product.id) %></li>
          </li>
          <% end %>
        </ul>   
        </div>
<% end %>         
</div>

    </li>
  <% end %>
  <li>
    <%= link_to "Offers", offers_homes_path, :title => "Offers" %>
  </li>
</ul>