<ul class="nav">
   <% Category.where("name is not null and category_show = #{true}").includes(:sub_categories).each do |cat| %>
    <li>
        <a href="#"><%= cat.name %></a>

        <% @subCategories = cat.sub_categories %>
        <% if @subCategories.present? %>
            <div class="menu_sub">
            <% @subCategories.in_groups_of(5).each do |subCatGroup| %>
                    <div class="nav-column" >
                <% subCatGroup.each do |subCat| %>
                    <% unless subCat.blank? %>
                    <ul>
                        <li>
                            <%= link_to subCat.name, home_path(subCat), :class => "subcat", :title => "#{subCat.try(:name)}" %>
                        </li>  
                    </ul>
                <% end %>
                <% end %>
                </div>            
            <% end %>             
            </div>
        <% end %>
    </li>     
<% end %>   
</ul>