<ul class="nav navbar-nav ">
<% Category.where("name is not null and category_show = #{true}").each do |cat| %>
    <% @parent_sub_categories = cat.parent_sub_categories %> 
      <li class="dropdown">
                  <a class="fonts" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
                     <%= cat.name %>
                  </a>
              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <% if cat.parent_sub_categories.present? %>
                      <% for pc in cat.parent_sub_categories %>
                        <% if pc.present? %>
                          <li class="dropdown-submenu">
                            <a tabindex="-1" href="#"><%= pc.name %></a>
                            <ul class="dropdown-menu">
                            <% for subcat in pc.sub_categories %>
                              <li>
                                <%= link_to subcat.name, home_path(subcat), :class=>"subcat", :title => "#{subcat.name}" %>
                              </li>
                            <% end %>
                            </ul>
                          </li>
                        <% end %>
                      <% end %>

                      <% else %>
                      <% cat.sub_categories.each do |subcat1| %>
                        <li style="font-weight: bold;">
                          <%= link_to subcat1.name, home_path(subcat1), :class=>"subcat", :title => "#{subcat1.name}" %>
                        </li>
                   <% end %>
              <% end %>
          </ul>
      </li>
  <% end %>
</ul>       